<%= render partial: 'form_fields', locals: { f: f } %>

<div>
  <h3>Address fields</h3>
  <%= f.simple_fields_for :address, include_id: false do |fa| %>
    <%= fa.input :street %>
    <%= fa.input :number %>
    <%= fa.input :zip_code %>
  <% end %>
</div>
